  <div class="bg-red-900 w-full h-96">
            <%=form_with(model: answer, url: answers_path, method: :post) do |form|%>
               <%=form.text_area :body, class: "bg-gray-100 text-lg" %>
               <%= form.hidden_field :comment_id, value: comment.id%>
               <%= form.hidden_field :user_id , value: 1%>
               <%=form.submit "Répondre", class: "bg-green-500 text-lg" %>
            <%end%>
</div>