<div class="text-center text-4xl">C'est la page </div>

<h1 class="text-center text-4xl"><%=@page.name%></h1>

<nav class="flex w-full h-12 bg-gray-600 ">
    <div class="text-4xl text-gray-50 mr-96  ">LOGO</div>
    <div class="flex text-gray-50 text-2xl ">
        <div class="mr-10">Accueil</div>
        <div class="mr-10">Nos produits</div>
        <div class="mr-10">Nos avantages</div>
        <div class="mr-10"><%=@page.name%></div>
        <div class="mr-10">Contact</div>

          
    </div>
</nav>


<!--Content-->

<div class="w-3/4  flex mx-20 my-24 border-2 ">
    <div class="h-96 w-full bg-gray-600 mx-14 text-white font-bold text-3xl text-center ">
              Photo
    </div>
    <div class="mx-4 my-8">
         <h2 class="text-3xl text-center font-bold"> <%=@page.title1%></h2>
         <h3 class="text-2xl text-center font-bold"> <%=@page.subtitle1%></h3>
         <p class="text-center px-2 py-2 bg-gray-500"><%=@page.text1%></p>
    </div>

</div>

<!--Content-->

<div class="w-3/4  flex mx-20 my-24 border-2 ">
    <div class="h-96 w-full bg-gray-600 mx-14 text-white font-bold text-3xl text-center ">
              Photo
    </div>
    <div class="mx-4 my-8">
         <h2 class="text-3xl text-center font-bold"> <%=@page.title2%></h2>
         <h3 class="text-2xl text-center font-bold"> <%=@page.subtitle2%></h3>
         <p class="text-center px-2 py-2 bg-gray-500"><%=@page.text2%></p>
    </div>

</div>

<!--Content-->

<div class="w-3/4  flex mx-20 my-24 border-2 ">
    <div class="h-96 w-full bg-gray-600 mx-14 text-white font-bold text-3xl text-center ">
              Photo
    </div>
    <div class="mx-4 my-8">
         <h2 class="text-3xl text-center font-bold"> <%=@page.title3%></h2>
         <h3 class="text-2xl text-center font-bold"> <%=@page.subtitle3%></h3>
         <p class="text-center px-2 py-2 bg-gray-500"><%=@page.text3%></p>
    </div>

</div>

<!--Content-->

<div class="w-3/4  flex mx-20 my-24 border-2 ">
    <div class="h-96 w-full bg-gray-600 mx-14 text-white font-bold text-3xl text-center ">
              Photo
    </div>
    <div class="mx-4 my-8">
         <h2 class="text-3xl text-center font-bold"> <%=@page.title4%></h2>
         <h3 class="text-2xl text-center font-bold"> <%=@page.subtitle4%></h3>
         <p class="text-center px-2 py-2 bg-gray-500"><%=@page.text4%></p>
    </div>

</div>

<!--Content-->

<div class="w-3/4  flex mx-20 my-24 border-2 ">
    <div class="h-96 w-full bg-gray-600 mx-14 text-white font-bold text-3xl text-center ">
              Photo
    </div>
    <div class="mx-4 my-8">
         <h2 class="text-3xl text-center font-bold"> <%=@page.title5%></h2>
         <h3 class="text-2xl text-center font-bold"> <%=@page.subtitle5%></h3>
         <p class="text-center px-2 py-2 bg-gray-500"><%=@page.text5%></p>
    </div>

</div>

<!--Content-->

<div class="w-3/4  flex mx-20 my-24 border-2 ">
    <div class="h-96 w-full bg-gray-600 mx-14 text-white font-bold text-3xl text-center ">
              Photo
    </div>
    <div class="mx-4 my-8">
         <h2 class="text-3xl text-center font-bold"> <%=@page.title6%></h2>
         <h3 class="text-2xl text-center font-bold"> <%=@page.subtitle6%></h3>
         <p class="text-center px-2 py-2 bg-gray-500"><%=@page.text6%></p>
    </div>

</div>


