<!DOCTYPE html>
<html>
  <head>
    <title>Leadcollector</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
       <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
       <script type="text/javascript">(function(){emailjs.init("YOUR_USER_ID");})();</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
   

  </head>
   
 <body>
 
 
  
  
 <%= render "layouts/navbar" %>
 
 
 




    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
